## Deliverable 3. Create a Travel Itinerary Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [21]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Vaini,TO,84.20,broken clouds,-21.2000,-175.2000,NaN
1,1,Butaritari,KI,81.23,broken clouds,3.0707,172.7902,NaN
2,2,Klaeng,TH,75.99,clear sky,12.7797,101.6483,NaN
3,7,Bogo,PH,81.73,overcast clouds,11.0517,124.0055,NaN
4,10,Rikitea,PF,78.78,scattered clouds,-23.1203,-134.9692,NaN
...,...,...,...,...,...,...,...,...
185,689,Abangay,PH,80.65,scattered clouds,10.9667,122.6500,NaN
186,691,Gorontalo,ID,82.90,overcast clouds,0.5412,123.0595,NaN
187,692,Neiafu,TO,78.80,moderate rain,-18.6500,-173.9833,NaN
188,694,Jocoro,SV,76.21,clear sky,13.6167,-88.0167,NaN
189,696,Tautira,PF,86.00,light rain,-17.7333,-149.1500,NaN

In [22]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [25]:
# 4a. Add a marker layer for each city to the map.


locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City']=='Carnarvon') & (vacation_df['Country']=='AU')]
vacation_end = vacation_df.loc[(vacation_df['City']=='Carnarvon') & (vacation_df['Country']=='AU')]
vacation_stop1 = vacation_df.loc[(vacation_df['City']=='Nhulunbuy') & (vacation_df['Country']=='AU')]
vacation_stop2 = vacation_df.loc[(vacation_df['City']=='Kiama') & (vacation_df['Country']=='AU')]
vacation_stop3 = vacation_df.loc[(vacation_df['City']=='Yulara') & (vacation_df['Country']=='AU')]

In [27]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0],vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0],vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0],vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0],vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0],vacation_stop3['Lng'].to_numpy()[0]

In [29]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
fig = gmaps.figure()
start2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(start2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,60,Carnarvon,AU,84.20,scattered clouds,-24.8667,113.6333,NaN
1,232,Nhulunbuy,AU,86.00,scattered clouds,-12.2333,136.7667,NaN
2,541,Kiama,AU,82.99,few clouds,-34.6833,150.8667,NaN
3,343,Yulara,AU,86.00,clear sky,-25.2406,130.9889,NaN
4,60,Carnarvon,AU,84.20,scattered clouds,-24.8667,113.6333,NaN

In [32]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [33]:
# 11a. Add a marker layer for each city to the map.

locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))